@use "assets/styles/mixins.scss" as *;
@use "assets/styles/global.scss" as *;
.gift {
  margin-bottom: 20px;
  .subtitle {
    margin: 20px 0;
    position: relative;
    img {
      position: absolute;

      background-size: cover;
      background-repeat: no-repeat;
      top: -75px;
      right: 0px;
      @media (max-width: $tablet) {
        top: 33px;
      }
      @media (max-width: $mobile) {
        display: none;
      }
    }
  }
  span {
    text-transform: uppercase;
    font-size: calc(23px + 7 * (100vw / 1920));
    line-height: 30px;
  }
  .bold {
    font-weight: 700;
    margin-bottom: 20px;
  }

  .textWrapper {
    max-width: 690px;
    margin-bottom: 30px;
    @media (max-width: 1078px) {
      max-width: 600px;
    }
    @media (max-width: $tablet) {
      max-width: 500px;
    }
    & > p:first-child {
      margin-bottom: 15px;
    }
    p {
      line-height: 30px;
      opacity: 0.8;
      font-size: 17px;
      @media (max-width: $mobileSmall) {
        line-height: 19.5px;
      }
    }
  }
  .reasons {
    text-align: center;
  }
  .reasonsToBuy {
    display: flex;
    margin: 20px 0;
    @media (max-width: $mobile) {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
 
}

.giftImgMobile {
  margin-bottom: 30px;
  @media (min-width: $mobile) {
    display: none;
  }

  @media (max-width: $mobile) {
    flex: 0 0 362px;
    min-height: 248px;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}

.select {
  margin-bottom: 40px;
  border-top: 1px solid rgba(217, 217, 217, 0.1);
  padding-top: 40px;

  @media (max-width: 375px) {
    margin-bottom: 20px;
  }
  .radio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px 30px;
    & > div:not(:last-child) {
      padding-right: 70px;
    }
    .input {
      margin-left: 20px;
      .amount {
        padding: 10px;
        height: 50px;
        width: 196px;
        background: rgba(217, 217, 217, 0.1);
        position: relative;
      }
      p {
        position: absolute;
        color: rgb(212, 25, 25);
      }
    }
  }

  .customAmount {
    display: flex;
    align-items: center;
    & > div {
      margin-right: 100px;
      span {
        text-transform: capitalize;
      }
    }
    input {
      max-width: 170px;
    }
  }
}
.errors {
  color: rgb(212, 25, 25);
}
