@use '../../assets/styles/mixins.scss' as *;
.buttonWrapper {
    position: relative;
}
.but,
.book {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
    color: #ffff;
}
.but {
    width: 179px;
    border: 1px solid #ffff;
    transition: all .2s ease;
    &:hover {
        transition: all .2s ease;
        border: 1px solid var(--gold);
        color: var(--gold);
        
    }
}


.info {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    .wrapCyrcle {
        
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #D1C396;
        position: relative;
        transition: all .3s ease;
        &:hover {
            transition: all .3s ease;
            background-color: #856741;
        }
        svg {
            @include absolute-center;
            width: 6px;
            height: 13px;
            color: #ffff;
            
        }
    }
}

// Book
.book {
    width: 175px;
    background: var(--gold);
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}
