// Book
.wrapperMainButton {
  display: flex;
  flex-grow: 0;
  position: relative;
  &:hover {
    .mainButton {
      font-size: 18px;
      transition: all 0.3s ease;
    }
    .arrowDefault {
      right: -60px;
      transition: all 0.3s ease;
    }
    .bookArrow {
      right: 20px;
      transition: all 0.3s ease;
    }
  }
  .mainButton {
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 30px;
    padding: 0 20px;
    color: #ffff;
    position: relative;
    width: 175px;
    background: var(--gold);
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    padding: 2px 0;
    z-index: 1;
  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    
  }
}
.arrowDefault {
  transition: all 0.3s ease;
  width: 48px;
  right: -30px;
}
.bookArrow {
  transition: all 0.3s ease;
  width: 130px;
  right: 60px;
 
}
