@use '../../assets/styles/global.scss' as *;
.icon {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.service {
    margin-bottom: 40px;
}

//ServiceCart
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cart {
    flex: 0 0 calc(25% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 23px;
    @media(max-width: 580px) {
        gap: 10px;
        padding: 10px;
        flex: 0 0 calc(33.333% - 16px);
    }
    @media(max-width: 580px) {
        flex: 0 0 calc(50% - 16px);
    }

}
