form {
    margin-bottom: 20px;
}
.form {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
    & > div {
        display: flex;
        flex-direction: column;
        gap: 15px;
        & > input {
            height: 50px;
            background-color: rgba(217, 217, 217, 0.1);
            padding-left: 15px;

        }
        & > textarea {
            background-color: rgba(217, 217, 217, 0.1);
            padding: 15px;
            flex: 1 1 auto;
            
        }
    }
    .input {
         flex: 0 1 45%;
    }
    .textArea {
        flex: 0 1 50%;
    }
}
.errorMessage {
    display: flex;
    align-items: center;
    color: rgb(177, 51, 51);
    span {
        font-size: 16px;
        text-transform: lowercase;
    }
    svg {
        width: 15px;
        height: 15px;
        margin: 0 10px; 
    }
    
}
