@use "assets/styles/global.scss" as *;
.booking {
  user-select: none;
  h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 15px 0;
  }
  .buttons {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @media (max-width: 410px) {
      justify-content: center;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
}


h6 {
  margin-right: 40px;
  @media (max-width: $mobile) {
    margin-right: 20px;
  }
}
