.link,
.linkLogin,
.linkSign {
  text-transform: uppercase;
  width: 100%;
  transition: all 0.2s ease;

  &:hover {
    transition: all 0.2s ease;
    background: #000;
    color: var(--active);
  }
}
.icon {
  justify-content: flex-end;
  margin-left: 100px;
  svg {
    cursor: pointer;
    color: #fff;
    &:hover {
      color: var(--gold);
    }
  }
}
.list {
  text-align: center;
}
.linkLogin {
  margin-top: 40px;
}
