@use "assets/styles/global.scss" as *;
@use "assets/styles/mixins.scss" as *;

// .cart {
//     width: 342px;
//     height: 380px;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     @media (max-width: $tablet) {
//       width: 280px;
//       height: 300px;
//     }

//     @media (max-width: $mobile) {
//       width: 200px;
//       height: 220px;
//     }
//     @media (max-width: $mobileSmall) {
//         width: 150px;
//         height: 150px;
//       }
//   }

.cart {
  width: 100%;
  min-height: 100%;
  position: relative;
  img {
    position: absolute;
    @include absolute-center;
  }
}
