@use "assets/styles/mixins.scss" as *;
.result {
  min-height: 60vh;
  & > div {
    width: 100%;
    max-width: 1050px;
    padding: 0 10px;
    @include absolute-center;
    text-align: center;
    h1 {
      @include adaptiv-font(60,30);
      line-height: calc-line-height(60,73);
      margin-bottom: 40px;
    }
    p {
      @include adaptiv-font(25,20);
    }
  }
  @media (max-width: 768px) and (orientation: landscape) {
    & > div {
      position: static; // Убираем абсолютное центрирование
      transform: none;
    }
  }
}