@use "assets/styles/mixins.scss" as *;
.result {
  width: 100%;
  min-height: 60vh;
  & > div {
    width: 100%;
    margin-top: -50px;
    max-width: 1050px;
    @include absolute-center;
    text-align: center;
    h1 {
      font-size: 60px;
      line-height: 73px;
      margin-bottom: 40px;
    }
    p {
      font-size: 25px;
    }
  }
}