.info {
  display: flex;
  gap: 150px;
  .visited {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    & > div {
      display: flex;
      align-items: flex-end;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
      }
      h4,
      span {
        margin-right: 5px;
        font-size: 17px;
        font-weight: 300;
      }
    }
    
  }
  .buy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    span {
       font-size: 20px;
       line-height: 30px;
       font-weight: 500; 
       
    }
    & > div {
        display: flex;
        gap: 25px;
        input {
            min-width: 384px;
            height: 50px;
            background: var(--gray);
            padding: 10px;
            font-size: 20px;
        }
    }
  }
}
