@use "assets/styles/global.scss" as *;
.info {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }
  .visited {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > div {
      display: flex;
      align-items: flex-end;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      h3 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
      }
      h4,
      span {
        margin-right: 5px;
        font-size: 17px;
        font-weight: 300;
        // white-space: nowrap;
      }
    }
  }
  .buy {
    display: flex;
    flex-direction: column;
    gap: 20px;
    & > div {
      display: flex;
      gap: 20px;
      @media (max-width: $mobile) {
        flex-wrap: wrap;
      }

      input {
        max-width: 384px;
        height: 50px;
        background: var(--gray);
        padding: 10px;
        font-size: 20px;
      }
    }
  }
  span {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }

  p {
    color: rgb(190, 34, 34);
  }
}
