@use "assets/styles/global.scss" as *;
.mainTopHistory {
  margin-bottom: 150px;
  h2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .columns {
    display: flex;
    gap: 80px;
    margin-bottom: 15px;
    @media (max-width: $mobileSmall) {
      gap: 50px;
    }
    & > div {
      white-space: nowrap;
    }
    & > div:first-child {
      flex: 20%;
      min-width: 85px;
    }
    & > div:nth-child(2) {
      flex: 30%;
    }
    & > div:nth-child(3) {
      flex: 50%;
    }
  }
}
