@use "../assets/styles/global.scss" as *;
.booking {
  h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 15px 0;
  }
  .buttons {
    position: relative;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 410px) {
      justify-content: center;
    }
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
  }
}
.time {
  display: flex;
  align-items: center;
  h5 {
    margin-right: 20px;
  }
  .radio {
    display: flex;
    align-items: center;
    gap: 150px;
    span {
      color: #fff;
      font-size: 20px;
      line-height: 25px;
    }
    
  }

}


.search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
  .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 50px;
    background-color: rgba(217, 217, 217, 0.1);
    padding: 0 10px;
    cursor: pointer;
    @media(max-width:500px) {
      width: 100%;
    }
  }
  .people {
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.1);
    height: 50px;
    width: 180px;
    
    .minus,
    .plus {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 25%;
      position: relative;
      height: 50px;
      cursor: pointer;
      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 30px;
        background: #fff;
        opacity: 10%;
      }
    }
    .minus::after {
      right: 0;
      top: 10px;
    }
    .plus::after {
      top: 10px;
      left: 0;
    }
    .count {
      display: flex;
      justify-content: center;
      flex: 50%;
      
    }
  }
  .errors {
    margin-left: 30px;
    color: rgb(187, 58, 58);
  }
  h6 {
    margin-right: 40px;
    @media (max-width: $mobile) {
      margin-right: 20px;
    }
  }
}



