@use "assets/styles/global.scss" as *;

.ourReviews {
  margin-bottom: 60px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navigation {
      display: flex;
      margin-right: 60px;
      gap: 30px;
      @media (max-width: 816px) {
        display: none;
      }
    }
  }
}

.reviews {
  display: flex;
  gap: 15px;
  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }
}
