.search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
  .data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 190px;
    width: 20%;
    height: 50px;
    background-color: rgba(217, 217, 217, 0.1);
    padding: 0 10px;
    cursor: pointer;
    @media (max-width: 500px) {
      min-width: 190px;
    }
  }
}

.errors {
  margin-left: 45px;
  color: rgb(187, 58, 58);
}
