.radioContainer {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    @media(max-width:640px) {
      margin-bottom: 25px;
    }
    
  }
  
  .radioInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .radioCheckmark {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 18px;
    width: 18px;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .radioCheckmark:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #d1c396;
    display: none;
  }
  
  .radio-input:checked + .radioCheckmark:after {
    display: block;
  }
  
  .labelName {
    display: flex;
    position: absolute;
    top: -3px;
    left: 25px;
    gap: 7px;
    span {
      font-size: 16px;
      line-height: 19.5px;
      color: #d1c396;
    }
  }
  .radioCustom .Mui-checked {
    color: var(--gold);
  }
  .radioCustom {
    color: var(--gray);
  }
  