.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  & > div {
    display: flex;
    gap: 15px;
    .input {
      flex: 33.33%;
      max-width: 384px;
      @media (max-width: 780px) {
        min-width: 324px;
      }
      input {
        width: 100%;
        height: 50px;
        padding: 20px;
        background: var(--gray);
      }
    }
    @media (max-width: 780px) {
      flex-wrap: wrap;
    }
  }
}
.errorMessage {
  color: rgb(209, 32, 32);
  padding-left: 15px;
}
.thirdLine {
  & > div {
    flex: 33.33%;
    max-width: 384px;
    position: relative;
  }
}