@use "sass:math";


$fontSize: toRem(16);

$fontWeight: 300;

$fontFamily: "Montserrat";

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1200px;
$containerPadding: 30px;
$containerWidth: $maxWidthContainer + $containerPadding;


$pc: $containerWidth + px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: $maxWidth;
  main {
    flex: 1 1 auto;
  }

  .container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 15px;
  }
}
