@use "sass:math";


$fontSize: 16px;

$fontWeight: 300;

$fontFamily: "Montserrat";

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1200px;
$containerPadding: 30px;
$containerWidth: $maxWidthContainer + $containerPadding;


$pc: $containerWidth + px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: $maxWidth;
  main {
    flex: 1 1 auto;
    margin-top: 170px;
  }

  .container {
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 0 15px;
  }
}

//overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(33, 33, 35, 0.8);
  
}

// Logo size
.logo {
  &.large {
    width: 140px;
    height: 136px;
  }

  &.small {
    width: 82px;
    height: 80px;
  }
}

.slick-arrow {
  display: none !important;
}
.slick-list {
  padding-bottom: 40px;
}