@use "../assets/styles/global.scss" as *;
 .block {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding: 15px;
  flex: 33.333%;
  @media (max-width: $mobile) {
    flex: 50%;
  }
  @media (max-width: $mobileSmall) {
    flex: 100%;
  }
  h2 {
    font-size: 50px;
    font-weight: 500;
    line-height: 30px;
  }
  h4 {
    font-weight: 700;
  }
  p {
    opacity: 0.7;
    line-height: 30px;
  }
}
